input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label.check {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 40px;
    color: #969696;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 0;
    letter-spacing: 0.2rem;
    vertical-align: middle;
    margin: 8px 0 8px 8px;


}

input[type="checkbox"]:checked + label.check {
    border: 1px solid #43a2e5;
    background-color: #43a2e5;
}
input[type="checkbox"][value="1"] + label.check {
    border: 1px solid #43a2e5;
    background-color: #43a2e5;
}
input[type="checkbox"] + label.check::before {
    content: "OFF";
    position: absolute;
    top: -4px;
    left: auto;
    right: 6px;
}

input[type="checkbox"]:checked + label.check::before {
    content: "ON";
    position: absolute;
    left: 6px;
    right: auto;
    color: #ffffff;
}
input[type="checkbox"][value="1"] + label.check::before {
    content: "ON";
    position: absolute;
    left: 6px;
    right: auto;
    color: #ffffff;
}
input[type="checkbox"] + label.check > div {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 17px;
    height: 30px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    background-color: #ffffff;
    transition: 0.2s;
}

input[type="checkbox"]:checked + label.check > div {
    border: 1px solid transparent;
    left: 72px;
}
input[type="checkbox"][value="1"] + label.check > div {
    border: 1px solid transparent;
    left: 72px;
}
